
<h2>
  Questions
  <%= link_to "질문 만들기", new_question_group_question_path(@question_group) %>
</h2>
<hr/>
<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Question</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
   
  </tbody>
  </table>
   <a href="/" class="btn btn-primary btn-lg" role="button" style="float: left;">뒤로 가기</a>