
<h2>
  <%= @question_group.name %>
 </h2>
<hr/>
<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>질문 목록</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
   
  </tbody>
  </table>
   <%= link_to "<button class='btn btn-primary btn buttons' style='margin-top:10px; margin-right:5px; width:150px; height:30px;'>새 질문 등록</button>".html_safe, new_question_group_question_path(@question_group) %>
  <a href="/" class="btn btn-default" role="button" style="margin-top:10px; width:150px; height:30px;">뒤로 가기</a>
