.body {
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
}

.navbar {
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
    position: relative;
    height: 60px;
    min-height: 60px;
    background-color: #005580;
    vertical-align: middle;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 1;
    height: 60px;
    color: #ffffff;
}

.navbar-brand:hover,
.navbar-nav li a:hover{
  color: #002266;
}


.flickr_pagination {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
    
    
    
.survey_list {
    /*border: 2px solid #005580;*/
    border-radius: 3px;
    padding: 14px;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    background-color: #ffffff;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    text-align: left;
    height: 80px;
    letter-spacing: -0.2px;
}

.survey_list td{
  padding: 1.6em;
}

.survey_list tr:nth-child(odd){
  background-color:#f9f9f9;
}

.survey_list tr:nth-child(even){
  background-color:white;
}

.survey_name{
  font-size: 16px;
  font-weight: 600;
}

.survey_info{
  font-style: italic;
  margin-top: 4px;
}

.survey_info > span {
    padding-right: 1.07142857em;
}

.survey_info > span i {
    padding-right: 5px;
}

a.survey_btn {
    background-color: #2f609c;
    color: white;
    padding: 9px 40px;
    border-radius: 4px;
}

a.survey_btn:hover {
    opacity: 0.8;
    color: white;
    text-decoration: none;
}

a.survey-icon {
    font-size: 19px;
    /* padding: 4px; */
    margin-left: 3px;
    color: black;
    transition: none;
}


/*hover */

.survey_list tr:hover{
  background-color: #44494B;
  color: white;
  cursor: pointer;
}

.survey_list tr:hover span > a{
  color: white;
  transition: none;
}